<h1>
  Student Database
</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.lat %></td>
        <td><%= city.lon %></td>
          <div class="btn-group">
            <td><%= link_to 'Details', city, :class => "btn btn-info"%></td>
            <td><%= link_to 'Edit', edit_city_path(city), :class => "btn btn-info"%></td>
            <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-info"%></td>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
