<p id="notice"><%= notice %></p>
<h2>
    <strong>Name:</strong>
  <%= @city.name %>
  <strong>-</strong>
  <%=  @forecasts[:temperature] %>
  <strong>°C</strong>
</p>

<p>
  <strong>Lat:</strong>
  <%= @city.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @city.lon %>
</p>
</h2>
<p>



<%= link_to 'Edit', edit_city_path(@city) , :class => "btn btn-primary"%> |
<%= link_to 'Back', cities_path , :class => "btn btn-primary"%>
